
    <footer class="py-5 footer-text" id="contact-page">
        <!-- <div class="d-flex justify-content-between py-4 my-4 border-top"> -->
      <div class="row border-top pt-5">

        <div class="col-lg-6">
          <p>COMPANY.COM</p>
          <p >Philippines</p>
          <p ><i class="fas fa-mobile"></i> 0939-7142-799</p>
          <p ><i class="fas fa-mobile"></i> 0939-7142-799</p>
          <p><a  href="https://www.google.com/maps/@7.0685001,125.6040221,3a,75y,228.46h,92.72t/data=!3m7!1e1!3m5!1sQKIWJPWUMWL_E0KIfw6fdQ!2e0!6shttps:%2F%2Fstreetviewpixels-pa.googleapis.com%2Fv1%2Fthumbnail%3Fpanoid%3DQKIWJPWUMWL_E0KIfw6fdQ%26cb_client%3Dmaps_sv.tactile.gps%26w%3D203%26h%3D100%26yaw%3D304.01282%26pitch%3D0%26thumbfov%3D100!7i13312!8i6656"><i class="fas fa-map-marker-alt"></i> Open in Google Map</a></p>
          
        </div>
   

          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#features-page" class="nav-link px-2 text-muted">Services</a></li>
            <li class="nav-item"><a href="#contact-page" class="nav-link px-2 text-muted">Contact Us</a></li>
          </ul>
          <p class="text-center text-muted">Company.com © 2021 All rights reserved.</p>

  
  
     <div class="row border-top pt-5 text-center text-muted">
        <p class="col-md-12" >This Website is made with <i class="far fa-heart" style="color: red;"></i> by </p>
        <p class="col-md-12"><a  href="https://www.facebook.com/mynameisgarz/" target="_blank"> Gary Yu </a></p>
      </div> 
    </div>
    </footer>
